rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow all users to upload files
      allow write;
      // Allow all users to read files
      allow read;
    }
  }
}
